.hero{
    background-color: rgb(71, 70, 70);
    text-align: center;
    padding: 20px 0px;
    color: white;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
}
#search-icon{
    margin-top: 10px;
    margin-left: 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px;
}
#search-icon img{
    margin: 0px;
    width: 30px;
}
#search-icon img:hover{
    width: 45px;
    transition: all .3s ease-in-out;
}
input{
    width:inherit; 
}
.search-list{
    margin-top: 20px;
    padding: 0px;
}
.search-list li{
    border: 1px solid rgb(214, 206, 206);
    margin: 0px;
    padding: 10px;
    list-style: none;
}
.current-day{
    border:1px solid lightgray;
    padding: 15px 10px;
    margin-bottom: 15px;
}
.sub-row{
    padding-left: 15px;
}
.col-sm-2{
    /* display: flex; */
    margin-right: 10px ;
    background-color: blue;
    min-height: 300px;
    border-radius: 5px;
    color: white;
}
.col-sm-2 h2{
    text-align: center;
    margin-top: 15px;
    font-size: 100%;
    color: white;
}
.col-sm-2 img{
    max-width: 100%;
    /* max-height: 100px; */
}
.current-day-heading-container{
    display: flex;
    flex-direction: row;
    border: none;
    margin-bottom: 20px;
}
#current-day-heading{
    margin: 0px;
    align-self: flex-end;
}
#current-icon{
   max-width: 40px;
    align-self: flex-end;
}
#current-uv-index{
    background-color: red;
    padding: 5px;
}